body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:300px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u633_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u633 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:7px;
  width:300px;
  height:170px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u633 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u633_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
