body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-45px;
  width:1505px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2650_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u2650 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:123px;
  width:200px;
  height:200px;
  display:flex;
}
#u2650 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2650_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2651_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u2651 {
  border-width:0px;
  position:absolute;
  left:665px;
  top:227px;
  width:64px;
  height:64px;
  display:flex;
}
#u2651 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2651_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2652_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u2652 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:191px;
  width:200px;
  height:200px;
  display:flex;
}
#u2652 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2652_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2653_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u2653 {
  border-width:0px;
  position:absolute;
  left:786px;
  top:191px;
  width:200px;
  height:200px;
  display:flex;
}
#u2653 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2653_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2654_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:200px;
}
#u2654 {
  border-width:0px;
  position:absolute;
  left:1063px;
  top:191px;
  width:201px;
  height:200px;
  display:flex;
}
#u2654 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2654_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2655_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u2655 {
  border-width:0px;
  position:absolute;
  left:1350px;
  top:153px;
  width:200px;
  height:200px;
  display:flex;
}
#u2655 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2655_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2656_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u2656 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:496px;
  width:200px;
  height:200px;
  display:flex;
}
#u2656 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2656_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2657_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u2657 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:389px;
  width:38px;
  height:38px;
  display:flex;
}
#u2657 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2657_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2658_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u2658 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:389px;
  width:41px;
  height:16px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u2658 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2658_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2659_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#7F7F7F;
}
#u2659 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:408px;
  width:35px;
  height:14px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#7F7F7F;
}
#u2659 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2659_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
